* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
nav{
  background-color: #8bc34a;
}
.nav-menu {
  float: right;
  display: flex;
  flex-direction: row;
}
.menu-trigger {
  display: none;
}
.nav-wrapper {
  margin: 0 10px;
}
.nav-menu li a {
  font-size: 1.2em;
}
#card-container {
  background-color: #fff;
  height: calc(100vh - 64px);
  overflow: scroll;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 992px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    top: 64px;
    right: 0;
    position: absolute;
    background-color: #8bc34a;
    z-index: 99;
  }
  .menu-trigger {
    display: block;
    float: right;
  }
}
